/* all font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.my-swal {
  z-index: 10000 !important;
}
